<div class="container-xl">
    <div class="row">
        <div class='col-lg-2 mt-4'>
            <div>
                <h3>Business Units</h3>
                <% @business_units.each do |unit| %>
                    <div class="form-check checkboxes">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            <%= unit %>
                        </label>
                    </div>
                <% end  %>
            </div>
            <div class='mt-4'>
                <h3>Teams</h3>
                <% @teams.each do |team| %>
                    <div class="form-check checkboxes">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            <%= team %>
                        </label>
                    </div>
                <% end  %>
            </div>
        </div>
        <div class='col-lg-10'>
            <%= render 'talents_list', talents: @talents %>
        </div>
    </div>
</div>