.container-xl {
    max-width: 2000px !important;
    padding-right: 0px;
}

.card {
    border-radius: 15px !important;
}

.col-form-label {
    font-weight: bold !important;
}

.fa-phone {
    color: green;

    span {
        color: black;
    }
}

.fa-envelope {
    color: blue;

    span {
        color: black;
    }
}

.form-check-label {
    color: #6c757d !important
}

#filter-box {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: none;
    background-color: white;
    border-top-right-radius: 10px;
}